{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        io.github.nextjournal/clerk {:mvn/version "0.15.957"}
        clj-time/clj-time {:mvn/version "0.15.2"}}}
